html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0px;
}
video {
  height: 100%;
  width: 100%;
  display: inline-block;
}
#video-caption p {
  text-align: right !important;
}
.video-container:-webkit-full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  z-index: -100;
  background: none;
}

:-ms-fullscreen {
  width: auto;
  height: auto;
  margin: auto;
}

#root, .container, .details-container {
  height: 100%;
  width: 100%;
}
.language-selector {
  z-index: 1000;
  float: right;
  color: white;
  padding: 10px;
}
.selected-language {
  font-weight: bold;
  color: red;
}
.details-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.meta-details {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0)));
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  color: white;
}
.meta-details .meta-details-inner {
  padding: 30px;
}
.meta-description {
  max-height: 150px;
  overflow: scroll;
}
.play-button {
  width: 100%;
  height: 100px;
  z-index: 999;
  position: absolute;
  top: 100px;
  left:0;
  display: table;
  text-align: center;
}
.play-button img {
  margin-top: 100px;
  cursor: pointer;
  max-width: 100px;
}
.dash-video-player {
  width: 100%;
  background-color: transparent;
  position: relative;
  min-height: 1px;
}
.videoContainer {
  position: relative;
}